  <script type="text/x-handlebars" data-template-name="companies">
  <ul>
  {{#each item in model}}
    <li>{{!-- #link-to 'company.contacts' item }}{{item.name}} = contacts -> {{item.contacts.length}} {{/link-to --}} -->
    <li>{{item.name}} = contacts -> {{item.contacts.length}}
  </li>
  {{/each}}
  
  </ul>
  {{outlet}}
  </script> 
  <script type="text/x-handlebars" data-template-name="company/index">
    {{name}}
    
  </script>
  <script type="text/x-handlebars" data-template-name="company">
    {{outlet}}
  </script>
  <script type="text/x-handlebars" data-template-name="company/contacts">
  <h1></h1>
  Contacts <br>
  {{#each contact in contacts}}
    {{contact.name}}
   {{/each}}
  {{!-- #link-to 'company' this }}company details{{/link-to --}}
  </script>
